@page
@model ByteBrew_Coffee_Roasters.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/products.css" asp-append-version="true" />

<h1>Детали</h1>

<div>
    <h4>Продукт</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <dl>
                <dt class="product-label">Название</dt>
                <dd class="product-details">@Html.DisplayFor(model => model.Product.Name)</dd>
                <dt class="product-label">Описание</dt>
                <dd class="product-details">@Html.DisplayFor(model => model.Product.Description)</dd>
                <dt class="product-label">Цена</dt>
                <dd class="product-details">@Html.DisplayFor(model => model.Product.Price)</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <img src="@Model.Product.Image" style="max-width: 100%; max-height: auto;" />
        </div>
    </div>
</div>
<a asp-page="./Edit" asp-route-id="@Model.Product.Id">Изменить</a> |
<a asp-page="./Index">Вернуться к списку</a>
</div>
