@page
@model ByteBrew_Coffee_Roasters.Pages.Products.ShoppingCartModel

@{
    ViewData["Title"] = "Shopping Cart";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Корзина покупок</h1>

<div id="cart" class="d-flex flex-column align-items-center">
    @if (Model.CartItems.Count > 0)
    {
        foreach (var item in Model.CartItems)
        {
            <div class="card flex-row align-items-center p-3 m-2" style="max-width: 600px; width: 100%;">
                <img src="@item.Product!.Image" class="card-img-left" style="width: 100px; height: auto; margin-right: 20px;" />
                <div class="flex-grow-1">
                    <span class="card-title fw-bolder fs-4">@item.Product.Name</span>
                    <span class="card-subtitle text-secondary fs-6">@item.Product.Description</span>
                    <span class="fw-bold fs-4">@item.Product.Price ₽</span>
                    <div class="d-flex flex-row justify-content-around mt-2">
                        <form method="post" data-ajax="true" asp-page-handler="DecreaseFromCart">
                            @Html.Hidden("productId", item.ProductId)
                            <button type="submit" class="btn btn-secondary">-</button>
                        </form>
                        <h3>@item.Quantity шт</h3>
                        <form method="post" data-ajax="true" asp-page-handler="AddToCart">
                            @Html.Hidden("productId", item.ProductId)
                            <button type="submit" class="btn btn-secondary">+</button>
                        </form>
                        <form method="post" data-ajax="true" asp-page-handler="RemoveFromCart">
                            @Html.Hidden("productId", item.ProductId)
                            <button type="submit" class="btn btn-danger">
                                <i class="fas fa-trash-alt">Мусорка</i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        }
        <h4>Итого к оплате: @Model.CartItems.Sum(x => x.Quantity * x.Product!.Price) руб</h4>

        <form method="post" data-ajax="true" asp-page-handler="MakeOrder" class="mt-4">
            <button type="submit" class="btn btn-primary">Оформить заказ</button>
        </form>
    }
    else
    {
        <h1>В корзине пока нет товаров</h1>
    }

</div>


<div id="status-message" class="alert alert-success mt-3" role="alert" style="display:none;">
    
</div>

<script>
    $(document).ready(function () {
        function updateCart() {
            $.ajax({
                url: window.location.href,
                method: 'GET',
                success: function (response) {
                    var parsedHTML = $(response);
                    var newCartContent = parsedHTML.find('#cart').html();
                    $('#cart').html(newCartContent);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        $(document).on('submit', 'form[data-ajax="true"]', function (event) {
            event.preventDefault();
            var $form = $(this);
            $.ajax({
                url: $form.attr('action'),
                method: $form.attr('method'),
                data: $form.serialize(),
                success: function (response) {
                    if ($form[0].action.includes('handler=MakeOrder')) {
                        $('#status-message').text('Успешно. Скоро начнем собирать ваш заказ!').show();
                        updateCart();
                    } else {
                        updateCart();
                    }
                },
                error: function (xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });
        });
</script>
